.page-header{
    background: linear-gradient(#45f5f5,#00ccf0);
    background-image: url('../../img/bg_bg.svg'); 
    background-size: 100%;  
    padding:0;
    background-repeat: no-repeat;
    box-shadow: 0 0 5px #acacac;
    background-attachment: fixed;
}
.main-content{
    background: linear-gradient(#45f5f5,#00ccf0);
    background-image: url('../../img/a_land.svg'); 
    /* background-size: cover;   */
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}
.form-head{
    /* background: linear-gradient(#45f5f5,#00ccf0); */
    /* background-image: url('../../img/bg.jpg');  */
    /* background-size: cover;  */
    background-color: #fff;
    box-shadow: 0 0 5px #acacac;
}
.hidden{display:none!important;}

.border-1{
    border:4px solid #fff!important;
}
 

.bg-dark,.btn-dark{ 
    background: linear-gradient(#3b4646,#2a3131);
}

.f-8x{
    font-size:8em;
    background-size: 100%;   
    background-repeat: no-repeat; 
    background-attachment: fixed!important;
    background-image: url('../../img/bg_bg.svg'); 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
   
}
.f-10x{
    font-size:10em;
}

.text-dark{ 
    color:#333333!important;
}
 
.flow-left{
    position:absolute;
    left:50px;
    bottom: 250px!important;
    width:400px;
}

.flow-right{
    position: absolute;
    right:150px;
    bottom: 150px!important;
    width:400px;
}
  
@media only screen and (min-width: 600px) and (max-width: 1200px){
    .flow-left{
        position:absolute;
        left:0;
        bottom: 350px!important;
        width:300px;
    }
    
    .flow-right{
        position: absolute;
        right:0;
        bottom: 150px!important;
        width:300px;
    }
    .flow-left img, .flow-right img{
        width:300px;
    }
}
@media only screen and (max-width: 720px) and (min-width: 100px){
    .flow-left, .flow-right{
        display:none!important;
    }
    .f-8x{
        font-size:4em;
    }
}
